USE [ENTEGRATOR]
GO
/****** Object:  Table [dbo].[TBL_ENT_MIKRO_CARIHESAPKOLON_ESLESTIRME_V16]    Script Date: 18.02.2019 13:59:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ENT_MIKRO_CARIHESAPKOLON_ESLESTIRME_V16](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIP] [varchar](50) NULL,
	[KOLONADI] [varchar](50) NULL,
	[FATURADEGER] [varchar](50) NULL,
	[NAKITKASADEGER] [varchar](50) NULL,
	[ACIKLAMA] [varchar](100) NULL,
	[DURUM] [tinyint] NULL,
 CONSTRAINT [PK_TBL_ENT_MIKRO_CARIHESAPKOLON_ESLESTIRME_V16] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ENT_MIKRO_STOKHAREKETKOLON_ESLESTIRME_V15]    Script Date: 18.02.2019 13:59:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ENT_MIKRO_STOKHAREKETKOLON_ESLESTIRME_V15](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIP] [varchar](50) NULL,
	[KOLONADI] [varchar](50) NULL,
	[DEGER] [varchar](50) NULL,
	[ACIKLAMA] [varchar](100) NULL,
 CONSTRAINT [PK_TBL_ENT_MIKRO_STOKHAREKETKOLON_ESLESTIRME] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_ENT_MIKRO_CARIHESAPKOLON_ESLESTIRME_V16] ON 

INSERT [dbo].[TBL_ENT_MIKRO_CARIHESAPKOLON_ESLESTIRME_V16] ([ID], [TIP], [KOLONADI], [FATURADEGER], [NAKITKASADEGER], [ACIKLAMA], [DURUM]) VALUES (2, N'SAYI', N'cha_DBCno', N'0', N'0', NULL, 1)
INSERT [dbo].[TBL_ENT_MIKRO_CARIHESAPKOLON_ESLESTIRME_V16] ([ID], [TIP], [KOLONADI], [FATURADEGER], [NAKITKASADEGER], [ACIKLAMA], [DURUM]) VALUES (4, N'SAYI', N'cha_iptal', N'0', N'0', NULL, 1)
INSERT [dbo].[TBL_ENT_MIKRO_CARIHESAPKOLON_ESLESTIRME_V16] ([ID], [TIP], [KOLONADI], [FATURADEGER], [NAKITKASADEGER], [ACIKLAMA], [DURUM]) VALUES (5, N'KARAKTER', N'cha_fileid', N'', N'', NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[TBL_ENT_MIKRO_CARIHESAPKOLON_ESLESTIRME_V16] OFF
SET IDENTITY_INSERT [dbo].[TBL_ENT_MIKRO_STOKHAREKETKOLON_ESLESTIRME_V15] ON 

INSERT [dbo].[TBL_ENT_MIKRO_STOKHAREKETKOLON_ESLESTIRME_V15] ([ID], [TIP], [KOLONADI], [DEGER], [ACIKLAMA]) VALUES (1, N'SAYI', N'sth_RECid_DBCno', N'0', NULL)
INSERT [dbo].[TBL_ENT_MIKRO_STOKHAREKETKOLON_ESLESTIRME_V15] ([ID], [TIP], [KOLONADI], [DEGER], [ACIKLAMA]) VALUES (2, N'SAYI', N'sth_RECid_RECno', N'0', NULL)
INSERT [dbo].[TBL_ENT_MIKRO_STOKHAREKETKOLON_ESLESTIRME_V15] ([ID], [TIP], [KOLONADI], [DEGER], [ACIKLAMA]) VALUES (3, N'SAYI', N'sth_SpecRECno', N'0', NULL)

SET IDENTITY_INSERT [dbo].[TBL_ENT_MIKRO_STOKHAREKETKOLON_ESLESTIRME_V15] OFF
